table {
    border-collapse: collapse;
    margin: 20px auto;
    border-color: blue;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    border: 2px solid #333;
    cursor: pointer;
}

td:hover {
    background-color: #EEE;
}
